/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles for light/dark mode */
html, body {
  width: 100%;
  overflow-x: hidden;
  @apply bg-white text-secondary-900;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark mode styles */
html.dark, body.dark {
  @apply bg-secondary-900 text-white;
}