@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset all margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Prevent content overflow */
}

/* Full viewport height & width */
html, body, #root {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* prevent horizontal scroll */
}

html,
body {
  @apply bg-light-bg dark:bg-dark-bg;
}